:root {
  --main-title-color: #434455;
  --second-title-color: #2e2f42;
  --third-title-color: #4d5ae5;
  --main-background-color: #ffffff;
  --second-background-color: #f4f4fd;
  --third-background-color: #2e2f42;
  --p-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
adress {
  font-style: normal;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--main-background-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
/*!------------------HEADER---------------------- */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--main-background-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  display: inline-flex;
  margin-right: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
}
.header-logo-second {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 43px;

  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.current {
  position: relative;
  color: var(--third-title-color);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/*! --------------------HERO--------------- */
.hero {
  background-color: var(--third-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--third-background-color);
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1158px;
  height: 432px;
  /* height: 600px; */
  display: block;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* font-size: 56px;
  line-height: 1.07; */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  /* margin-bottom: 48px; */
  text-transform: capitalize;
}

.hero-btn {
  background-color: #4d5ae5;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.hero-btn {
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* !-----------------PRIVILAGE------------- */

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.feature-items:not(:last-child) {
  margin-bottom: 72px;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.feature-logo-icon {
  display: none;
}

/*! ------------------CONTENT--------------- */
.content {
  display: none;
}

/*! ------------------TEAM------------------ */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.team-card {
  padding: 32px 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}
.soc-icon {
  fill: currentColor;
}
/* !---------------CUSTOMERS-------------------------- */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 24px; */
  column-gap: 16px;
  row-gap: 72px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  /* width: 168px;
  height: 88px; */
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
}
/* !-------------------FOOTER------------- */
.footer {
  background-color: var(--second-title-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
  margin-bottom: 16px;
}
.footer-logo-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-soc-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 72px;
}
.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: currentColor;
}
.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}
.footer-form-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.footer-input {
  width: 264px;
  /* width: 398px; */
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  color: var(--main-background-color);
  opacity: 0.6;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-btn {
  /* min-width: 165px; */
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  color: #ffffff;
  display: block;
}
.subscribe-icon {
  fill: currentColor;
}
.footer-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* !----------------PORTFOLIO------ */

.filter-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter-btn {
  background-color: var(--second-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--third-title-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.filter-btn:is(:hover, :focus) {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.filter-btn:is(:hover, :focus) {
  background-color: #404bbf;
  color: #ffffff;
}
.products-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}
.products-item {
  flex-basis: calc((100% - 48px) / 3);
}
.products-cover-wrap {
  position: relative;
  overflow: hidden;
}
.products-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  background-color: var(--third-title-color);
  position: absolute;
  top: 0;
  padding: 35px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--p-transition);
}
.products-link {
  display: block;
  max-width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.products-link:hover .products-cover-text,
.products-link:focus .products-cover-text {
  transform: translate(0);
}
.products-link:hover,
.products-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.products-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.products-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(720deg);
}
.modal {
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 72px 24px 24px;
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.modal-icon {
  fill: currentColor;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*! ------------------FORM-------------------- */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.modal-label {
  margin-bottom: 8px;
  display: block;
}
.modal-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-label > span.input-wrap {
  color: #2e2f42;
}

.textarea {
  resize: none;
  width: 360px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
}
.textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-label > span.input-wrap {
  color: #2e2f42;
}

.check-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}
.input-check:checked + .check-text::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../images/vector.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.form-btn {
  width: 169px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--p-transition);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}
